@import "@/assets/font/iconfont.css";



#app {
  font-family: Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}
body{
  padding: 0;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
}

/*去除所有a标签的下划线*/
a{
  text-decoration: none;
}

/*去除所有ul的默认样式*/
ul{
  list-style: none;
  padding: 0;
}

/* 占屏幕宽度的90并且剧中显示 */
.w{
  width: 90%;
  margin: 0 auto;
}

/* 不渲染 */
.disable {
  display: none;
}

/* 清除input默认样式*/
input{
  border: 0;
  padding: 0;
}